@model Entities.EventTicketTypes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EventTicketTypes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Events.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Events.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketTypes.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketTypes.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalTickets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalTickets)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ticketTypeId, Idevent = Model.eventId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
