@model IEnumerable<Entities.EventTicketTypes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Events.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketTypes.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalTickets)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Events.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketTypes.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalTickets)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ticketTypeId, Idevent = item.eventId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ticketTypeId, Idevent = item.eventId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ticketTypeId, Idevent = item.eventId })
        </td>
    </tr>
}

</table>
